<main id="article">
    <h1>Magyarország a 2. világháború korszakában</h1>
    <br>
    <br>
    <br>
    <p class="bkezd">
        Miniszterelnök Teleki Pál (1939-41) hivatali idejének középpontjában álltak a következő fontos feladatok és
        elvárások:
        Teleki Pál számára elsődleges cél volt a szélsőjobboldal, különösen a nácik - azaz a Nyilasok párt -
        visszaszorítása, melyet a hazájukban erősödő szélsőséges mozgalmak általános kockázatával hozott összefüggésben.
        Egy másik kiemelt feladat az volt, hogy javítsa Magyarország kapcsolatait Nyugat-Európával. Ezt a célkitűzést
        azzal a szándékkal hajtotta végre, hogy megpróbálja elkerülni vagy enyhíteni az országa számára kritikus
        helyzeteket a nemzetközi színtéren.
        Teleki Pál a revíziós lépések megtételét is tervezte, de tudatában volt annak, hogy ehhez Németország
        segítségére van szükség. Ennek ellentmondott az előző két célkitűzése, mivel a német támogatás azzal a
        veszéllyel járt, hogy megnöveli a szélsőjobboldal befolyását Magyarországon.
        Az esetleges háború kitörésekor Magyarország befogadta a lengyel menekülteket, ami humánus lépés volt a háború
        következményeinek enyhítésére. Emellett nem engedte át a német csapatokat az ország területén, amely segített
        fenntartani a fegyveres semlegességet, vagyis azt, hogy Magyarország kimaradt a háborúból.
        Ezen intézkedésekkel Teleki Pál azon igyekezett, hogy Magyarországot egy stabil, békés és semleges államként
        tartsa fenn a második világháború kezdetén.
    </p>
    <br>



    <img src="{{dir}}/img/horthy1.PNG" alt="" width="800px" height="500" class="img_h img-fluid">
    <figcaption>1939. márc. Kárpátaljai bevonulás (atlasz 61a)
        Az ottani lakosság kb 9%-a magyar, ez nem etnikus határ</figcaption>
    <br>

    <p class="bkezd">
        1939-ben bevezették a második Zsidótörvényt Magyarországon, amely súlyosan diszkriminálta a zsidó közösséget és
        a következő intézkedéseket tartalmazta:
    </p>
    <ul id="lista">
        <li>Faji alapú meghatározás: A törvény faji alapon határozta meg, ki minősül zsidónak. Ez rasszista
            megkülönböztetést alkalmazott az egyénekre, pusztán származásuk alapján.</li>
        <br>
        <li>Zsidók elbocsátása a közgazdaságból és az oktatásból: A törvény lehetővé tette a zsidók munkahelyükről való
            elbocsátását a közgazdaság területén, valamint korlátozta hozzáférésüket az oktatáshoz. Ennek következtében
            sok zsidó vesztette el munkáját és oktatási lehetőségeit.</li>
        <br>
        <li>Korlátozott felsőoktatási és értelmiségi lehetőségek: Az egyetemekre való felvételre csak 6%-os arányban
            engedélyezték a zsidók jelenlétét. Az értelmiségi pályákon is hasonló arány volt érvényben. Ez korlátozta a
            zsidók lehetőségeit a felsőoktatásban és az értelmiségi szakmákban.</li>
        <br>
        <li>Ezek az intézkedések részét képezték a zsidóság elleni diszkriminatív politikának, amely Magyarországon is
            egyre súlyosbodott a második világháború előrehaladtával, és az ország szövetségre lépett a náci
            Németországgal. A második Zsidótörvény súlyosan károsította a zsidó közösség társadalmi és gazdasági
            helyzetét, és a holokauszt részeként további tragikus események előszelét hozta magával.</li>
    </ul>
    <br>
    <p class="bkezd">
        A 2. Bécsi döntés, amelyet 1940. augusztus 30-án hoztak meg, az eredménye a második bécsi döntésnek, amelyben a
        Magyar Királyság és a Horthy-kormány együttműködve Németországgal visszacsatolta Észak-Erdélyt és a
        Székelyföldet Romániától. Az alábbiakban a döntés és annak következményei vannak részletezve:
        Magyar honvédség bevonulása: A döntés részeként a Magyar Királyság hadserege Észak-Erdély és a Székelyföld
        területére vonult be, és ezeket a területeket megszállta. Ezzel a területek hivatalosan Magyarország részévé
        váltak.
        Észak-Erdély és Székelyföld visszacsatolása: Az Észak-Erdély és a Székelyföld visszacsatolása a magyar kormány
        célja volt, mivel ezek a területek korábban Romániához tartoztak, de a trianoni békediktátummal kerültek
        elszakításra Magyarországtól.
        Lakosság megoszlása: A területek lakossága jelentős részben magyar volt, és sokan üdvözölték a visszacsatolást.
        Azonban egy másik jelentős rész az erdélyi románokból állt, akik számára a döntés a román terület elvesztését
        jelentette. Emiatt mindkét fél, románok és magyarok egyaránt elégedetlenek voltak a helyzet miatt.
        Vándorlás: A döntés következményeként népességcserék és vándorlások is bekövetkeztek. Románok és magyarok
        egyaránt elhagyták azokat a területeket, ahol nem voltak többségben. Ez az áttelepülés sok ember számára
        személyes tragédiákat hozott magával.
        A 2. Bécsi döntés a második világháború előtti időszakban bekövetkezett esemény, amely tovább bonyolította a
        Kelet-Közép-Európai régió politikai helyzetét és az etnikai feszültségeket.
    </p>

    <img src="{{dir}}/img/horthy2.PNG" alt="" class="img_h img-fluid">
    <br>
    <img src="{{dir}}/img/horthy3.PNG" alt="" class="img_h img-fluid">
    <br>
    <p class="bkezd">
        Az év 1940 végétől 1941 tavaszáig terjedő időszak Magyarország szempontjából kiemelkedő fontosságú eseményeknek
        adott otthont, melyek mélyen befolyásolták az ország külpolitikáját és területi változásait.
        Az alábbiakban ezen események főbb mozzanatai kerülnek bemutatásra:
    <ul id="lista">
        <li>december: Magyarország és Jugoszlávia között aláírták az "örök barátsági szerződést," amely egyúttal "ablak
            Nyugat felé" is nyitott. Ez a megállapodás lehetőséget teremtett a diplomáciai kapcsolatok javítására és a
            Nyugat felé való közeledésre Magyarország részéről.</li>
        <li>tavasz: A német hadsereg kérvényezte az átvonulását Jugoszláviába, és kérték a magyar katonai részvételt a
            németek hadműveleteiben cserébe területek ígéretével. Magyarország ezen a ponton nehéz döntés elé került,
            melyben a területszerzés és a németek támogatása váltak központi kérdéssé.</li>
        <li>április 3.: A tragikus események sora bekövetkezett, amikor a korábbi miniszterelnök, Teleki Pál,
            öngyilkosságot követett el. A nyomás, hogy Magyarország részt vegyen Jugoszlávia elleni német támadásban,
            valószínűleg hozzájárult ehhez a tragédiához, és a kormány élén Bárdossy László került.</li>
        <li>április 11.: Ezen a napon a magyar hadsereg átlépte a Jugoszláv határt, és részt vett a német vezetésű
            támadásban Jugoszlávia ellen. Ezzel egyidejűleg magyar területek szerzésére is sor került, mint a
            Bácska-Baranyai háromszög, a Muraköz és a Mura-vidék. Az ottani lakosság mintegy 36%-a magyar volt, de ezen
            események még mélyebb etnikai és politikai feszültségeket teremtettek.</li>
    </ul>
    </p>
    <p class="bkezd">
        Ezen időszak eseményei megvilágítják Magyarország törékeny helyzetét és az ország kénytelen döntéseit a második
        világháború előtt, ami tragikus következményekkel járt mind a politikai vezetők, mind pedig az ott élők számára.
        <b>Magyarország még nem lép be a háborúba az angolok megszakítják a diplomáciai kapcsolatot</b>
    </p>
    <br>
    <img src="{{dir}}/img/horthy4.PNG" alt="" class="img_h img-fluid">
    <br>
    <img src="{{dir}}/img/horthy5.PNG" alt="" class="img_h img-fluid">
    <br>

    <p class="bkezd">
        június 22-én, a Barbarossa hadművelet kezdetekor, Németország megtámadta a Szovjetuniót. Ezen kritikus
        időszakban Magyarország vezérkari főnöke, Werth Henrik, kulcsszerepet játszott a magyar hadsereg katonai
        döntéseiben és a háborúhoz való csatlakozásban. Az alábbiakban a főbb események és Werth Henrik álláspontja
        kerül bemutatásra:
        Werth Henrik vezérkari főnök: Werth Henrik, a magyar vezérkari főnök, a német hadművelet kezdetén szilárdan hitt
        a német gyors győzelemben. Ő és más magyar katonai vezetők úgy vélték, hogy a Vörös Hadsereg, azaz az oroszok,
        gyenge ellenfélként szerepel a szembenállók között.
        Revízió és kommunista veszély: Az egyik fontos tényező, ami miatt Magyarország úgy érezte, hogy be kell lépnie a
        háborúba, a területi revízió és a kommunista veszély volt. A magyar vezetés aggódott azokért a területekért,
        amelyeket elveszítettek a trianoni békediktátummal. A kommunista veszély is aggodalomra adott okot, mivel az
        oroszok a kommunizmust terjesztették a területeiken.
        Románia csatlakozása a háborúhoz: Az eseményeket tovább bonyolította Románia részvétele a háborúban a németek
        oldalán, ami további politikai és katonai nyomást gyakorolt a térségre.
        Kassai bombázás: 1941. június 26-án Kassán ismeretlen felségjelzésű gépek által végrehajtott bombázás történt.
        Ezek a bombázások ürügyül szolgáltak Magyarország számára a hadiállapot bejelentésére.
    </p>
    <br>
    <img src="{{dir}}/img/horthy6.PNG" alt="" class="img_h img-fluid">
    <br>

    <p class="bkezd">

        <u><b>Bárdossy bejelenti a hadiállapotot:</b> 1941. június 27-én, Bárdossy László miniszterelnök bejelentette a
            hadiállapotot, és ezzel hivatalosan csatlakozott Magyarország a németek által vezetett háborúhoz a
            Szovjetunióval szemben.</u>
    </p>
    <p class="bkezd">
        Augusztusában került elfogadásra a 3. Zsidótörvény, melyet néha fajvédelmi törvényként is emlegetnek. Ez a
        törvény a zsidó közösség elleni diszkriminatív intézkedések egyik fontos elemét jelentette a második világháború
        előtti Magyarországon. Az alábbiakban bemutatom a törvény főbb rendelkezéseit és következményeit:
    </p>

    <p class="bkezd">
        Faji alapon történő meghatározás: A törvény alapján a zsidók faji alapon lettek meghatározva, ami a
        diszkrimináció alapját szolgáltatta. Ez azt jelentette, hogy a zsidókat etnikai és faji jellemzőik alapján
        különítették el a nem zsidó lakosságtól.
        Házasságtilalom: A 3. Zsidótörvény elrendelte a házasság tiltását zsidó és nem zsidó állampolgárok között. Ez a
        rendelkezés súlyosan korlátozta a zsidók társadalmi és jogi jogait, és további diszkriminációt jelentett. Az
        állam beavatkozott az emberek magánéletébe, és megtiltotta a zsidó és nem zsidó szerelmeseknek, hogy hivatalosan
        összekeljenek.
        Kivétel külföldön élő nem zsidó férfi esetében: A házasságtilalom alól kivételt képezett az a helyzet, amikor
        egy nem zsidó férfi külföldön élt. Ez a szabály lehetővé tette, hogy egy zsidó nő egy nem zsidó férfival
        házasodjon össze, ha az utóbbi a határokon túl tartózkodott. Az állami beavatkozás és diszkrimináció ezzel a
        kivétellel tovább bonyolította az emberek magánéletét és házassági jogait.
        Ez a törvény a magyar zsidóság jogi és társadalmi diszkriminációjának részét képezte a második világháború
        előtti időszakban, és tragikus események sorozatát előzte meg a zsidó közösség sorsában. A zsidó törvények és a
        megkülönböztetés tovább fokozódott a háború során, ami végül a holokauszt magyarországi áldozataihoz vezetett.
    </p>

    <p class="bkezd">
        A 2. magyar hadsereg felállítása jelentős esemény volt a második világháború során. Ebben az időszakban a magyar
        kormány úgy döntött, hogy hadsereget küld a keleti fronton való részvétel céljából, és ennek keretében számos
        intézkedést hozott, melyek között az alábbiak kiemelkedőek:
    </p>
    <ul id="lista">
        <li>Zsidó férfiak munkaszolgálatba hívása: Az 1940-es évek közepén a magyar kormány által bevezetett számos
            diszkriminatív intézkedés részeként a zsidó férfiakat katonai munkaszolgálatra hívták be. Ezek a férfiak nem
            kaptak fegyvert és katonai képzést, ehelyett földmunkát végeztek. Az általuk végzett munkák között szerepelt
            az aknák felszedése és a földmunka, de a körülmények sokszor nehézek és veszélyesek voltak.</li>
        <li>Rossz felszerelés: A zsidó férfiak munkaszolgálatban való részvételét kísérte a rossz felszerelés
            problémája. Gyakran nem kaptak megfelelő ruházatot és védőeszközöket, ami növelte a kockázatokat és
            veszélyeket, amelyekkel a munka során találkoztak.</li>
        <li>Őrzői keretlegények: A zsidó munkaszolgálatot keretlegények őrizték. Ők voltak azok, akik felügyelték és
            őrizték a munkaszolgálatosokat. Az őrzők szintén az állam alkalmazottai voltak, és a zsidó
            munkaszolgálatosokat rendszerint szigorúan felügyelték.</li>
    </ul>
    <p class="bkezd">
        Ezen események azt mutatják be, hogyan súlyosbodtak a zsidóság ellen irányuló diszkriminatív intézkedések és
        hogyan kényszerültek zsidó férfiak kényszerű munkaszolgálatra a második világháború során. Az ilyen intézkedések
        tragikus következményekkel jártak a magyar zsidóság számára, különösen a háború későbbi szakaszában, amikor a
        holokauszt Magyarországon tragikusan elharapódzott.
    </p>


    <br>

    <img src="{{dir}}/img/horthy7.PNG" alt="" class="img_h img-fluid">
    <figcaption>1942.: Bárdossyt leváltja Kállay Miklós (Hintapolitkus)</figcaption>
    <br>


    <p class="bkezd">
        1942 nyarának érkezésével Magyarország a második világháború keleti frontjára irányította a 2. magyar
        hadsereget, melynek létszáma mintegy 200 000 fő volt. Ennek az elküldésnek számos katonai és emberi vonatkozása
        volt, amelyek a következőképpen váltak ismertté:
        Parancsnok: Jány Gusztáv: A 2. magyar hadsereg parancsnoka Jány Gusztáv volt, aki felelős volt a sereg
        vezetéséért és a hadműveletek irányításáért a keleti fronton.
        Feladat: Védés a Don mentén: A hadsereg fő feladata a Don mentén fekvő, mintegy 200 kilométeres szakasz vagy
        arcvonulat védelme volt. Ehhez hídfőállásokat és védelmi pontokat hoztak létre, hogy megnehezítsék az ellenség
        előrenyomulását és megtartsák a pozíciót.
        Voronyezs: A Don melletti legnagyobb város, Voronyezs adta a nevét a frontnak is. Ennek a városnak a megtartása
        és védelme stratégiai fontosságú volt a szovjetek és a németek közötti háborús színtéren.
        Téli nehézségek: A hadsereg a téli hónapokban is a fronton maradt, ahol a hatalmas hidegeknek kellett
        ellenállniuk. A hosszú utánpótlási útvonalak miatt a szállítás és az ellátmány kihívást jelentett. A katona
        hiányos felszerelése és az alacsony élelemkészletek további problémákat jelentettek.
        Ez a történeti időszak megmutatja a háború súlyosságát és a hadsereg tagjainak áldozatos szolgálatát a keleti
        fronton, ahol a katonák rendszerint nehéz körülmények között védték hazájukat. Az 1942-es események csak egyikei
        voltak a magyar hadsereg keleti fronton történt részvételének, amely további tragikus eseményekhez vezetett a
        háború során
    </p>

    <p class="bkezd">
        Sztálingrád volt az egyik legjelentősebb és sorsdöntő csatája a második világháborúban, melynek kimenetele
        meghatározta a keleti front sorsát. Az alábbiakban a csata legfontosabb mozzanatai és következményei találhatók:
        A hadművelet folytatása a Donnál: A Sztálingrád környékén lezajló hosszú és vérző csata után a harc nem ért
        véget. A németek tovább próbálták folytatni hadműveleteiket a Don folyó mentén, és a harcok folytatódtak.
        1943. január 12.: A szovjet csapatok megérkeznek a Donhoz: 1943 januárjában a szovjet csapatok végül megérkeztek
        a Donhoz. Ebben az időben a német védelmi erők állapota már gyengült, és a szovjetek gyorsan fel tudtak zárkózni
        hozzájuk.
        Gyors előrenyomulás és visszavonulás: A szovjeteknek mindössze két hét kellett ahhoz, hogy felülkerekedjenek a
        német védelmi erőkön, és a visszavonulás megkezdődött. Sok német katona a csatában meghalt vagy hadifogságba
        került.
        Sok áldozat és hadifogság: A Sztálingrádi csata során jelentős veszteségek történtek mind a német, mind a
        szovjet oldalon. A németeknél körülbelül 60 000 ember érte csak el Kijevet az eredetileg 200 000 fős
        hadseregből.
        A Sztálingrádi csata szovjet győzelme fordulópontot jelentett a második világháború keleti frontján. A német
        hadsereg súlyos veszteségeket szenvedett, és a szovjetek visszafoglalták az elvesztett területeket. A csata
        emléke tragikus volt mindkét oldalon, és a hadifogságba került német katonák sorsa nehéz volt. A Sztálingrád
        utáni események a szovjet előrenyomulást és a háború kimenetelét is befolyásolták.
    </p>
    <br>
    <img src="{{dir}}/img/horthy9.PNG" alt="" class="img_h img-fluid">
    <br>
    <p class="bkezd">
        Március 19-én Magyarországban hirtelen és jelentős változások következtek be, amikor a nácik megszállták az
        országot.
        Ezt a megszállást számos tényező és politikai döntés előzte meg, melyek között az alábbiak voltak a
        legfontosabbak:
    <ul id="lista">
        <li>Horthy nem mondott le: Miközben Magyarország politikai és katonai helyzete instabil volt, kormányzónk,
            Horthy Miklós, nem mondott le a hatalomról. Ezt azért tette, mert tartott attól, hogy ha lemond, a nácik egy
            radikális náci kormányt, például a Nyilasok pártját, alakíthatják ki Magyarországon, és a magyar hadsereg a
            német seregbe olvadhatna.</li>
        <li>A megszállás okai: A megszállás okai között szerepelt Magyarország németellenes magatartása, például
            kiugrási kísérletek, valamint az, hogy Magyarország addig nem vett részt a háborúban. Emiatt a nácik úgy
            érezték, hogy be kell avatkozniak és ellenőrzés alatt kell tartaniuk az országot.</li>
        <li>Szombathelyi Ferenc bizalmatlansága: Az egyik fontos tényező a nácik megszállásával kapcsolatban
            Szombathelyi Ferenc, a magyar külügyminiszter nézetkülönbsége volt. Szombathelyi nem tartott a náci
            megszállástól, mivel úgy gondolta, hogy a németeknek nincs elég erőforrásuk erre, és mert Horthy Miklós
            Németországban tartózkodott a megszállás idején.</li>
        <li>A magyar hadsereg és a szövetségesek: A magyar hadsereg nem szállt szembe határozottan a náci megszállással,
            és a megszállás után gyorsan engedelmeskedni kezdett a német parancsoknak. Emellett a szövetségesek,
            különösen a szovjetek és az amerikaiak, elkezdték bombázni Magyarországot, ami további nyomást gyakorolt a
            magyar kormányra.</li>
        <li>Kállayt leváltja Sztójay Döme: A megszállást követően a németek kormányzót cseréltek Magyarországon. Kállay
            Miklóst Sztójay Döme váltotta fel, aki a náci érdekeknek engedelmeskedett.</li>
        <li>Veesenmayer: teljhatalmú birodalmi megbízott: A nácik Magyarországba küldték Edmund Veesenmayer teljhatalmú
            birodalmi megbízottat, aki az olyan intézkedések és irányelvek végrehajtásáért felelt, melyek Magyarországot
            teljes mértékben a náci Németország uralma alá vonták.</li>

    </ul>
    </p>
    <p class="bkezd">
        Ezek az események és döntések jól mutatják be, hogyan lett Magyarország náci megszállásának áldozata a második
        világháború utolsó szakaszában, és milyen hatással volt ez az ország sorsára és az emberek életére.

    </p>
</main>