<main id="article">
    <h1>
        <span class="title">Rákosi-korszak</span>
        <span class="sub-title">(1948 (vagy 1949) - 1953 (vagy 1956))</span>
    </h1>

    <section>
        <h2>Az egypárti uralom kiépülése</h2>
        <p>
            <a href="{{dir}}/img/65.jpg" target="_blank">
                <img src="{{dir}}/img/65.jpg">
            </a>
            <strong>
                1947. őszétől a kommunista párt, Sztálin új irányvonalának megfelelően, felgyorsította az egypárti
                uralom kiépítését.
            </strong>
            A névleg még koalíciós, de már kommunisták irányította kormány 1947. őszén államosította a nagybankokat és a
            hozzájuk tartozó ipari és kereskedelmi vállalatokat, majd 1948. márciusában minden, 100 főnél több munkást
            foglalkoztató ipari üzemet. Bezárt a Tőzsde, s egyidejűleg mindenhatóvá vált az Országos Tervhivatal. A
            lakosság megismerkedett az állami kereskedelmi vállalatokkal: a Közérttel, a Röltexszel, Patyolattal. 1948.
            nyarán 6500 egyházi iskola került állami tulajdonba; létrejött az egységes állami közoktatás. 1948.
            szeptemberében megalakult az ÁVH.
        </p>
        <p>
            1947-48. fordulójára az ellenzéki pártok kénytelenek voltak beszüntetni működésüket. A koalíciós pártokból
            (FKGP, SZDP, NPP) kiszorították a kommunistákkal szemben álló politikusokat. Sokan emigráltak. 1948.
            decemberében Mindszenty prímásérseket koholt perben életfogytiglani börtönre ítélték. Utoljára maradt a két
            munkáspárt egyesítése, 1948. júniusában létrejött a Magyar Dolgozók Pártja (MDP). Valójában a
            szociáldemokrata párt beolvasztásáról beszélhetünk: az új párt programja kommunista program volt, a vezetők
            többsége az MKP-ból került ki. Az MDP főtitkára Rákosi Mátyás lett.
        </p>
        <p>
            <strong>
                1949-ben megalakult a Népfront
            </strong>,
            melynek pártjai közös listán indultak a májusi
            választásokon. A Népfront elnöke Rákosi, főtitkára Gerő Ernő volt. Az 1949. augusztus 20-án elfogadott
            “sztálini alkotmány” rögzítette: “munkásosztály marxista-leninista pártja a társadalom vezető ereje”. Az
            államforma a népköztársaság lett. Az állam élén az Elnöki Tanács állott, és annak elnöke törvényerejű
            rendeleteivel még a látszatparlamentet is kiiktatta.
        </p>
    </section>

    <section>
        <h2>A diktatúra évei</h2>
        <p>
            <a href="{{dir}}/img/73.png" target="_blank">
                <img src="{{dir}}/img/73.png">
            </a>
            Rákosi Mátyást (1892-1971) “Sztálin legjobb magyar tanítványának” tartották. Rövid uralma alatt Sztálinéhoz
            hasonló személyi kultuszt épített ki. Tudta, hogy hatalma Moszkva akaratától függ, ezért teljesítette, sőt
            túlteljesítette a szovjet elvárásokat. Mögötte a második ember, Gerő Ernő a gazdasági területet irányította,
            Farkas Mihály a hadsereget és a rendőrséget, Révai József az ideológiát és a kultúrát.
        </p>
        <p>
            1949. szeptemberében Rajk Lászlót és társait halálra ítélték, kémkedés és más “népellenes” bűntettek
            vádjával. 1950-ben összevonással 19 megyét szerveztek. Kiépült a tanácsrendszer, hihetetlenül felduzzadt a
            hivatalnoki és alkalmazotti létszám. A tanácsok nem önkormányzati, hanem a központi akaratot végrehajtó
            szervek voltak. Megkezdődtek a kitelepítések, létrejöttek az internálótáborok. 1950. januárjában megindult
            az első ötéves terv, melynek irreális tervmutatói (“a határ a csillagos ég”) igen megnehezítették a
            munkásság életkörülményeit. Súlyos aránytalanság mutatkozott az ipar szerkezetében a nehézipar és a hadiipar
            javára. A fogyasztási cikkek, a könnyűipari termékek mennyisége, minősége elmaradt a lakossági igényektől. A
            kisipar és a kereskedelem gyakorlatilag elsorvadt.
        </p>
        <p>
            <a href="{{dir}}/img/80.jpg" target="_blank">
                <img src="{{dir}}/img/80.jpg">
            </a>
            A hidegháborús helyzet a mezőgazdaság fejlődését is meghatározta: megkezdődött a szovjet mintájú
            átszervezés. Az első ötéves terv először csak részleges társadalmasítást írt elő, végül a termőterület
            80%-át kívánták 1954-re szocializálni. Ennek az átalakításnak sem személy-tudati, sem tárgyi feltételei nem
            voltak meg, maradt a terror. A harc első lépése a kulákok ellen irányult. Általában a földterület nagysága,
            a gépesítés foka, bérmunka igénybevétele stb. döntött. Adózással, zaklatással, perekkel felszámolták az
            árutermelő középparasztságot. Hadikommunizmusra emlékeztető módszereik következtében a kisparasztság is a
            megsemmisülés szélére jutott.
        </p>
        <p>
            Az iskolák államosításával a marxizmus-leninizmus szellemében történt a tanítás.
        </p>
        <p>
            A mozik, színházak is az állam kezébe kerültek, a népnevelés eszközei lettek. Az irodalomban, a
            művészetekben a szocialista realizmus uralkodott el.
        </p>
    </section>

    <section>
        <h2>Nagy Imre fellépése</h2>
        <p>
            1953. márciusában meghalt Sztálin, júniusban Moszkvába hívták Rákosit és több más vezetőt, ahol keményen
            megbírálták addigi politikájukat. Rákosi megtarthatta pártfőtitkári tisztségét, de a miniszterelnöki posztot
            át kellett engednie Nagy Imrének, aki reformokat akart.
        </p>
        <p>
        <ul>
            <li>
                amnesztia a kevésbé súlyosan elítélteknek
            </li>
            <li>
                a kitelepítések, internálások megszüntetése, az internálótáborok feloszlatása
            </li>
            <li>
                a paraszti termelés és tulajdon biztonságának megteremtése, a magánvállalkozások engedélyezése
            </li>
            <li>
                a kulákok zaklatásának, a kuláklistáknak s az erőszakos tsz-szervezésnek a megszüntetése; a
                termelőszövetkezetekből ki lehetett lépni
            </li>
            <li>
                a nehézipar erőltetett ütemű fejlesztésének visszafogása, az életszínvonal emelése
            </li>
        </ul>
        </p>
        <p>
            Rövidesen kiderült, hogy Rákosi és a pártapparátus minden áron akadályozza a reformok végrehajtását. A
            főtitkárnak sikerült a szovjet vezetést Nagy Imre ellen hangolnia. 1954-55 fordulóján Moszkva támogatásával
            a Rákosi-Gerő csoport ismét magához ragadta a teljes hatalmat, s visszatért az 1953. előtti politikához.
            Újrakezdték a tsz-szervezést, a nehézipar fejlesztését, a kulákok megszorítását. Nagy Imrét 1955. tavaszán
            leváltották miniszterelnöki tisztéből, kizárták a pártvezetésből, sőt a pártból is. Bolsevik szokás szerint
            Nagy Imrének “önkritikát” kellett volna gyakorolni, megtagadni “eretnek” nézeteit, vezekelni “bűneiért”.
            Erre nem volt hajlandó. A leváltott kormányfő így egyre népszerűbbé, sokak reménységévé, Rákosi ellenzékének
            vezetőjévé vált. 1956. tavaszán megint megváltozott a helyzet, előbb Moszkvában, utána Budapesten. Rákosi
            helyzete mind tarthatatlanabbá vált, a kiszabadult szellemet nem lehetett visszakényszeríteni a palackba. A
            reformkommunisták vezetőjüknek Nagy Imrét tekintették.
        </p>
    </section>

    <section>
        <h2>Források</h2>
        <ul>
            <li>
                <a href="https://www.tankonyvkatalogus.hu/pdf/OH-TOR12TB__teljes.pdf" target="_blank">
                    Történelem tankönyv
                </a>
            </li>
            <li>
                <a href="https://erettsegi.com/tetelek/tortenelem/a-rakosi-korszak/2/" target="_blank">
                    erettsegi.com
                </a>
            </li>
        </ul>
    </section>
    
    <!-- {{MadeBy}} -->

</main>