<main id="article">
    <h1>
        <span class="title">Rákosi Korszak</span>
        <span class="sub-title">(1948 (vagy 1949) - 1953 (vagy 1956))</span>
    </h1>

    <section>
        <h2>Rákosi személyi kultusza</h2>
        <p>
            Magyarországon a
            nyílt sztálinista diktatúra kiépítése és vezetése Rákosi Mátyáshoz kötődik. Ezért is nevezzük az 1948 és 1956 közötti
            időszakot Rákosi-diktatúrának. A szovjet rendszer másolása minden területen érvényesült. Így a magyar vezető körül
            is személyi kultuszt építettek ki, kikiáltották Rákosit „Sztálin legjobb magyar tanítványának”. Az elvtelen dicsőítés
            Rákosi 60. születésnapján (1952-ben) érte el a tetőpontját.
            Ebben az évben a pártfőtitkári tisztség mellett a miniszterelnöki tisztséget is betöltötte.
        </p>
        <p>
            <img src="{{dir}}/img/65.jpg">
            A társadalomra ráerőltetett Rákosi-kultusz áthatotta az
            élet minden területét, megjelent az iskolákban, a munkahelyeken és a kultúrában is. Sztálin, Lenin és Rákosi képei
            függtek a hivatalos helyiségekben, az osztálytermekben,
            a közlekedési eszközökön stb. A festők, a szobrászok, az
            irodalmárok lelkesedésből vagy kényszerből a két vezért
            (Sztálin és Rákosi) istenítő műveket készítettek, a színházak
            ilyen témájú darabokat is játszottak, a tudományos művekben is rájuk hivatkoztak. A személyi kultusz megkövetelte,
            hogy az emberek ne csak elviseljék a kommunista uralmat,
            de folyamatosan kinyilvánítsák lelkes támogatásukat felvonulásokon, ünnepeken és a mindennapi élet során is.
        </p>
        <p>
            Rákosi személyi kultuszával párhuzamosan Sztálint is istenítették. Megjelentek művei, a portréja minden ünnepségen feltűnt. A nyilvános gyűléseken nemcsak Rákosi, de
            Sztálin nevének hallatán is felállva, tapsolva, a diktátor nevét skandálva kellett ünnepelni perceken át.
        </p>
        <p>
            <img src="{{dir}}/img/66.jpg">
            A kultúrpolitika irányítása is a párt kezébe került, ami
            egyet jelentett a szovjet irányelvek szolgai másolásával.
            A kulturális élet irányítója, Révai József az osztályharcos
            szemléletet és a sematizmust képviselte. A kultúra minden
            területén a párt által az élre állított kutatók és művészek
            hajtották végre a váltást, s aki nem volt hajlandó erre, azt
            kiszorították a szellemi életből. 
        </p>
    </section>

    <section>
        <h2>A vas és acél országa</h2>
        <p>
            <img src="{{dir}}/img/73.png">
            Ahogy a politikában, úgy
            a gazdasági életben is a sztálinizmus szolgai másolása valósult meg. A gazdaságpolitika Rákosi mellett Gerő Ernő
            irányítása alatt állt. A kitűzött célok („Magyarország a vas
            és acél országa lesz”) sem hazánk természeti adottságai,
            sem fejlettsége alapján nem voltak észszerűek. Hazánk méretei és természeti adottságai össze sem hasonlíthatók a
            Szovjetunióéval. S mivel Magyarország jóval fejlettebb volt
            gazdaságilag a Szovjetuniónál, nálunk a célirányos modernizálás, a termelékenység növelése és nem a mennyiségi
            fejlesztés jelentett volna előrelépést. 
        </p>
        <p>
            <img src="{{dir}}/img/80.jpg">
            Ennek ellenére az MDP – a szovjet gazdaságpolitikát követve és a harmadik világháborúra készülve – az önellátás
            és a nehézipar fejlesztését tűzte ki célul. A „béketábor”
            tagjaként a csatlós Magyarország erőn felüli hadiipari és
            haderőfejlesztésbe kezdett.
        </p>
        <p>
            A fejlesztés forrásait a mezőgazdaság, az infrastruktúra
            és az életszínvonal rovására teremtették meg. Óriási áldozatok árán olyan ipart hoztak létre, amely már a maga
            idején (az ötvenes években) is korszerűtlen volt (magas termelési költségek, alacsony hatékonyság). 
        </p>
        <p>
            A nehézipar fejlesztése a háborúra való felkészülés és
            a szovjet példa követése miatt párosult az önellátásra törekvéssel. Költséges beruházásokkal nyitottak bányákat,
            emeltek gyárakat olyan nyersanyagok és termékek hazai
            előállítása érdekében, amelyeket külföldről olcsóbban,
            jobb minőségben beszerezhettek volna. Mindezt a világgazdaságtól, a tőke beáramlásától elzárva, kizárólag belső
            forrásokból finanszírozták.
        </p>
        <p>
            <img src="{{dir}}/img/81.jpg">
            A magángazdaság felszámolásával párhuzamosan tervgazdálkodást vezettek be (1950-ben kezdődött meg az
            első ötéves terv). A piaci igények figyelembevétele helyett
            – szovjet–magyar pártközi egyeztetések és pártelőírások
            szem előtt tartásával – az erre létesített tervhivatal határozta meg a vállalatok számára, hogy mit és mennyit kell
            gyártaniuk. A tervgazdálkodás nehézségei azonnal megmutatkoztak, mikor a vágyálmokat kergető pártvezetés az
            első ötéves terv eleve irreálisan magas tervszámait még
            tovább emelte. Az észszerűtlen célok és a hozzá nem értő
            irányítás-szervezés következtében 1952-re visszaesett a
            termelés. Mindeközben számottevően süllyedt az életszínvonal. Alig épültek lakások, a közszükségleti cikkek eltűntek az üzletekből, és állandósult az élelmiszerhiány. 
        </p>
        <p>
            Az ország betagozódott a szocialista, keleti blokkba, s a
            hidegháború kibontakozásával nemcsak a nyugati tőkétől,
            de az egész világgazdaságtól, a technológiai fejlődéstől is
            elzárták. Ezt ellensúlyozandó, illetve a szovjet gazdasági
            befolyást biztosítandó hozta létre a Szovjetunió a befolyása alatt álló országokkal 1949-ben a Kölcsönös Gazdasági
            Segítség Tanácsát (KGST). Az ötvenes években az önellátásra törekvő, s közel azonos gazdasági szinten álló, illetve
            azonos problémákkal küszködő országok közötti együttműködés azonban alacsony szinten maradt
        </p>
        <p>
            <img src="{{dir}}/img/75.jpg">
            Az MDP vezetése már 1949-ben elhatározta, hogy új
            nehézipari várost hoznak létre, amely mind az iparosítás sikerét, mind az új rendszer erejét bizonyítja. Az elképzelés a
            Dunán érkező szovjet vasérc feldolgozására épült, így a déli
            országhatár közelébe tervezték (Mohács). Ám a szovjet–
            jugoszláv viszony megromlása után a magyar–jugoszláv
            kapcsolatok is ellenségessé váltak, ezért a Duna mentén,
            északabbra, Dunapentele község határába vezényelték át a
            nagyberuházást. Az új szocialista város – a korra jellemzően – a Sztálinváros nevet kapta (ma Dunaújváros). Építése
            hatalmas erőforrásokat kötött le, munkaerőként például az
            önkéntesektől a kitelepítettekig mindenkit mozgósítottak.
            A város középületei a kommunista országokban kialakított
            szocreál stílusban épültek.
        </p>
        <p>
            Az emberektől lelkesedést, annak kifejezését és egyre
            nagyobb teljesítményeket vártak. A tervet, a normát teljesíteni kellett, mert az elmaradást törvényszegésnek (szabotázsnak) tekintették, s az fegyelmi, illetve büntetőeljárást
            vont maga után. Nálunk is alkalmazták a Szovjetunióból
            honosított különböző munkaversenyeket (legismertebb a
            sztahanovista mozgalom volt). A munkahelyi dicsőségtábla, valamint a pártsajtó ezerszázalékos túlteljesítésekről tudósított. E propagandakirakat mögött rossz gyártmányok,
            selejtes szerszámok, hibás alkatrészek sora volt a köznapi
            valóság.
        </p>
    </section>

    <section>
        <h2>A mezőgazdaság kollektivizálása</h2>
        <p>
            <img src="{{dir}}/img/84.png">
             A kommunisták (MKP) – mint láttuk – az 1945-ös földosztást csak
            politikai megtévesztésnek tekintették. Az MDP a hatalom
            birtokában meghirdette a mezőgazdasági termelőszövetkezetek megszervezését – más néven a téeszesítést vagy
            kollektivizálást. A kollektivizálás – a szovjet példához hasonlóan – Magyarországon is ideológiai, politikai és gazdasági célokat szolgált. A pártvezetés a mezőgazdaságban is
            uralkodóvá kívánta tenni a fejlettebbnek tekintett állami
            tulajdont, ugyanakkor meg akarta törni a magántulajdona
            révén még független parasztság ellenálló erejét. Gazdasági
            szempontból a téeszesítés elsősorban az iparosítást szolgálta, mert megkönnyítette az erőforrások kivonását a mezőgazdaságból, illetve a földjüket odahagyókból remélte
            biztosítani az extenzív (külterjes, vagyis újabb erőforrások
            bevonásával megvalósuló) iparfejlesztés döntő forrását: a
            munkaerőt.
        </p>
        <p>
            A nagyüzemi gazdaság előnyeit hirdető harsány propaganda a földdel rendelkező parasztság döntő többségénél
            nem talált visszhangra. Ezért a kormányzat gazdasági és
            politikai eszközöket is alkalmazott a cél érdekében. Megemelte a parasztság adóit, növelte a beszolgáltatás menynyiségi előírásait. Voltak évek, amikor adóelmaradás címén a földművesek vetőmagját is elvették (padlássöprés).
            A tekintélyes és sikeres gazdák megtörésére a szovjet módszert alkalmazták: kuláknak – „osztályellenségnek” – nyilvánították őket. Adóikat és beszolgáltatási kötelezettségeiket teljesíthetetlen mértékűre emelték, s vonakodás, nem
            teljesítés esetén rendőri erőt alkalmaztak. Engedélyhez kötötték az állatok levágását, s ebben az esetben a gazdának
            alig maradt valami a beszolgáltatás után.
        </p>
        <p>
            A propaganda és a kényszerítő eszközök ellenére a paraszti társadalom zöme ragaszkodott régi vagy újonnan
            kapott földjéhez. A szovjet típusú szövetkezetek alakítása,
            amely a tagokat teljes mértékben megfosztotta a tulajdonuktól, merev ellenállásba ütközött. Erőszakos módszerekkel is csak a parasztok harmadát tudták szövetkezetekbe
            kényszeríteni. Elsősorban a törpebirtokosok hoztak létre
            termelőszövetkezeteket. A módos gazdák közül sokan felhagytak a termeléssel, elhagyták a falut. Így az agrártermelés jelentősen visszaesett. Bár az ország élelemellátása
            is veszélybe került, a program kudarcát a rákosista vezetés
            nem akarta belátni.
        </p>
    </section>
    
    <section>
        <h2>A társadalom változásai</h2>
        <p>
            A Rákosi-korszak nemcsak a politikában, a gazdaságban, de a társadalom felépítésében is
            alapvető és nagymértékű változásokat hozott. A folyamat már 1945-
            ben elindult, a földosztással. Ezzel felszámolták a régi földbirtokos
            réteg egészét. A volt vezető réteg és a középosztály felszámolása az
            államosításokkal kezdődött, ekkor vagyonuktól fosztották meg őket,
            majd kiteljesedett a kitelepítésekkel. 
        </p>
        <p>
            Míg a társadalom felső csoportjait megsemmisítették vagy leszorították, addig az alsó csoportok számára igyekeztek felemelkedést
            biztosítani. Felszámolták az agrárproletariátus tömegeit. A téeszesítéssel a parasztság aránya csökkenni kezdett, míg a munkásságé
            növekedésnek indult. Megkezdődött az áttelepülés a falvakból a
            városokba. 
        </p>
        <p>
            Az alulról és felülről összeszorított társadalom fölé új vezető
            réteg, a pártelit települt, amely azonban nem vagyona, hanem a
            közösségi juttatások és más előnyök (utazás, lakás, hiánycikkekhez
            történő hozzáférés, telefon, gyermekek továbbtanulása, autó stb.)
            révén emelkedett ki a társadalomból.
        </p>
        <p>
            A párt (MDP) a gazdasági mutatók növelése mellett az ország
            lakosságszámát is növelni kívánta. Tette ezt annak ellenére, hogy
            természetes módon a háború után az elhalasztott családalapítások
            miatt növekedett a születések száma. Ezt kívánták fenntartani a
            terhességmegszakítás (művi abortusz) betiltásával (1951–1955). Az
            intézkedés Ratkó Anna egészségügyi miniszter nevéhez kapcsolódik,
            így ezt a demográfiai időszakot Ratkó-korszaknak nevezik. 
        </p>
    </section>
</main>